// CS2
// Launch options: +exec autoexec.cfg

// Aliases
alias +lineupcrosshair "cl_crosshairsize 1000"
alias -lineupcrosshair "cl_crosshairsize 2"

alias +radarzoom "cl_radar_scale 0.4; cl_radar_always_centered 0"
alias -radarzoom "cl_radar_scale 0.7; cl_radar_always_centered 1"

// Binds
unbindall

// Movement binds
bind  "w"           "+forward"
bind  "a"           "+left"
bind  "s"           "+back"
bind  "d"           "+right"
bind  "CTRL"        "+duck"
bind  "SHIFT"       "+sprint"
bind  "SPACE"  "+jump"
bind  "MOUSE_X"     "yaw"
bind  "MOUSE_Y"     "pitch"
bind  "MOUSE3"      "player_ping"

// Combat binds
bind  "MOUSE1"  "+attack"
bind  "MOUSE2"  "+attack2"
bind "MWHEELUP" "invprev"
bind  "r"       "+reload"
bind  "f"       "+use"
bind  "g"       "drop"
// === QUICKSWITCH (Q) ===
alias +qsw "slot3"
alias -qsw "lastinv"
bind "q" "+qsw"
// === DROP BOMB (B) ===
alias "+dropbombbind" "slot3; slot5"; 
alias "-dropbombbind" "slot3; slot5; drop"; 
bind b "+dropbombbind"

// Slot binds
bind  "1"  "slot1"
bind  "2"  "slot2"
bind  "3"  "slot3"
bind  "4"  "slot5"

// Buy binds
bind "pgup" "buy ak47;buy m4a1;buy m4a1_silencer;"
bind "PGDN" "buy awp;"
bind "Home" "buy vesthelm;buy vest;"
bind "F11" "buy defuser;"
bind "F10" "buy fiveseven;"
bind "F9" "buy p250;"

// Grenade binds
bind  "MOUSE5"  "+lineupcrosshair; buy flashbang; slot7"
bind  "x"  "+lineupcrosshair; buy incgrenade; slot10"
bind  "MOUSE4"  "+lineupcrosshair; buy smokegrenade; slot8"
bind  "e"  "buy hegrenade; slot6"
# bind  "z"  "buy decoy; slot9"

// UI binds
bind  "TAB"     "+radarzoom"
bind  "F5"       "buymenu"
bind  "ESCAPE"  "cancelselect"
bind  "p"       "+bindedscoreboard"

// === MISC BINDS ===
bind "v" "+voicerecord"
bind "F8" "toggleconsole"
bind "5" "+lookatweapon"

// Messages
bind  "ENTER"   "messagemode"
bind  "y"       "messagemode2"

// === IGNORE BINDINGS ===
bind "leftarrow" "ignorerad"
bind "rightarrow" "ignoremsg"

// Audio
volume "0.15"
snd_deathcamera_volume "0"
snd_mapobjective_volume "0"
snd_menumusic_volume "0"
snd_mvp_volume "0"
snd_roundend_volume "0"
snd_roundstart_volume "0"
snd_tensecondwarning_volume "0.04"

// === NETWORK / MISC ===
mm_dedicated_search_maxping "25"
cl_autohelp "0"
cl_teammate_colors_show "1"
cl_use_opens_buy_menu "0"
gameinstructor_enable "0"

// === CROSSHAIR ===
cl_crosshairstyle "4"
cl_crosshaircolor "1"
cl_crosshairsize "1.9"
cl_crosshairgap "-2"
cl_crosshairalpha "200"
cl_crosshairusealpha "1"
cl_crosshairthickness "0"
cl_crosshaircolor_r "219"
cl_crosshaircolor_g "14"
cl_crosshaircolor_b "33"
cl_crosshair_drawoutline "1"
cl_crosshair_outlinethickness "1.1"
cl_crosshairdot "0"
cl_crosshair_t "1"
cl_crosshairgap_useweaponvalue "0"


// HUD
hud_scaling "1.1"
hud_showtargetid "1"
cl_autohelp "0"
cl_hud_color "8"
cl_sanitize_player_names "0"
cl_showloadout "1"
+cl_show_team_equipment
gameinstructor_enable "0"

// Mouse
sensitivity "0.9525"
zoom_sensitivity_ratio "0.818933027098955175"

// Radar
cl_hud_radar_scale "1.3"
cl_radar_always_centered "1"
cl_radar_icon_scale_min "0.4"
cl_radar_rotate "1"
cl_radar_scale "0.7"
cl_radar_square_with_scoreboard "0"

// Video
fps_max "0"

// Viewmodel
viewmodel_presetpos "1"
viewmodel_fov "54"
viewmodel_offset_x "-2.0"
viewmodel_offset_y "-2.0"
viewmodel_offset_z "-2.0"

echo "Loaded autoexec.cfg"
host_writeconfig
